<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mars.cds.mapper.BizConfigMapper">

    <select id="selectConfig" resultType="BizConfig" parameterType="string">
        SELECT t.`value`
        FROM biz_config t
        WHERE t.`name` = #{name};
    </select>

</mapper>
