<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mars.cds.mapper.BizIpRegionIPv6Mapper">

    <select id="selectOneByIpNum" parameterType="java.math.BigInteger" resultType="BizIpRegionIPv6">
        SELECT `countryShort`, `country`, `province`, `city`
        FROM `biz_ip_region_ipv6` t
        WHERE #{ipNum} BETWEEN t.`start` AND t.`end` LIMIT 1;
    </select>

</mapper>
